# repo and project folders
.devcontainer
.docs
.git
.github
.gitignore
.gitmodules
.idea
.vscode

# docker
Dockerfile
.dockerignore
docker-compose.yaml

# python related
.mypy_cache
.pytest_cache
*.pyc
*.pyo
*.pyd
