# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.http

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Other Python related stuff
.env
.venv
logs/*
.ptpython-history
.mypy_cache
.pytest_cache

.devcontainer/commandhistory