# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @pgrill, @m-revetria, @dcousin24 and @nicoache1 will be requested for
# review when someone opens a pull request.
*       @pgrill @m-revetria @dcousin24 @nicoache1