[project]
# Project's name must be the same as PROJECT_NAME environment variable used elsewhere.
name = "python-template"
version = "0.1.0"
description = "Xmartlabs' Python project template"
authors = [{ name = "Xmartlabs", email = "getintouch@xmartlabs.com" }]
readme = "README.md"
requires-python = "^3.13"

[tool.poetry]
# TODO(remer): this can be removed when the source files are moved to project name folder within src
# Otherwise, poetry build command fails as it expects project's name matches current folder's name
packages = [{ include = "*", from = "src" }]

[tool.poetry.dependencies]
alembic = "^1.13.2"
asyncpg = "^0.30.0"
bcrypt = "4.0.1"
email-validator = "^2.2.0"
fastapi = "^0.111.1"
fastapi-pagination = "^0.12.26"
httpx = "^0.28.1"
itsdangerous = "^2.2.0"
passlib = "^1.7.4"
psycopg2 = "^2.9.9"
ptpython = "^3.0.29"
python = "^3.13"
pydantic = "^2.8.2"
pydantic-settings = "^2.4.0"
python-jose = "^3.3.0"
sqladmin = "^0.18.0"
sqlalchemy = "^2.0.31"
uvicorn = "^0.30.3"
asyncpg = "^0.30.0"

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
flake8 = "^7.1.0"
isort = "^5.13.2"
mypy = "^1.14.1"
mypy-extensions = "^1.0.0"
pycln = "^2.4.0"
pytest = "^8.3.2"
mock = "^5.1.0"

[tool.poetry.group.types.dependencies]
types-passlib = "^1.7.7.20240327"
types-pyasn1 = "^0.6.0.20240402"
types-python-jose = "^3.3.4.20240106"
types-mock = "^5.1.0.20240425"
typing-inspect = "^0.9.0"
typing-extensions = "^4.12.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
